*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: start;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 711px;
  gap: 15px;  
  padding-top: 75px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 385px;
}

.result__video {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 35px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border: none;
  flex-wrap: nowrap;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  color: rgba(255, 255, 255);
  width: 224px;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid transparent;
  padding-left: 0px;
  padding-top: 2px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  border-radius: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  top: 1.5px;
  left: 0px;
  display: inline-block;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::before {
  content: '';
  margin: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: none;
} 

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.button {
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  margin-left: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 23px;
  width: 399px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 297px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding: 0;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  padding-left: 1px;
  max-width: 185px; 
}

/*Добрый вечер! По пикселям расчитала доступную ширину
без скролла. На MAC скролла не видно, поэтому пришлось 
поверить расчетам. Надеюсь, что контент полный 
и без каких-либо искажений. Спасибо!*/

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
  padding-top: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
}

.more-button {
  width: 99%;
  height: 99%;
  margin: 1.3px;
}
